@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Pen+Script&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gowun Dodum", sans-serif;
}

a {
  color: unset;
  text-decoration: unset;
}
a:hover {
  color: unset;
}

a {
  color: unset;
  text-decoration: unset;
}
a:hover {
  color: unset;
}

body {
  background-color: #f5f5f5;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 1em;
  text-align: center;
}

.column {
  width: 100%;
  padding: 0.5em 0;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 3.5em;
  color: #1f003b;
}

.card {
  box-shadow: 0 0 2.2em rgba(25, 0, 58, 0.1);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #1f003b;
  transition: 0.3s;
  background-color: #ffffff;
}

.card .img-container {
  width: 8em;
  height: 7.75em;
  background-color: #a993ff;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}

.card img {
  width: 100%;
  border-radius: 50%;
}

.card h3 {
  font-size: 30px;
  font-weight: 500;
}

.card p {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}

.icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.card a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}

.card:hover {
  background: linear-gradient(#6045ea, #8567f7);
  color: #ffffff;
}

.card:hover .img-container {
  transform: scale(1.15);
}

@media screen and (min-width: 768px) {
  section {
    padding: 1em 7em;
  }
}

/* guestbook */
#guestbooklabel {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 2.2em rgba(25, 0, 58, 0.1);
  padding: 0.5em 1em;
  border-radius: 0.6em;
  color: #1f003b;
  transition: 0.3s;
  background-color: #ffffff;
}
.content {
  font-size: 20px;
}
#guestbooklabel:hover {
  background: linear-gradient(#84d2ff, #8d5acd);
  color: black;
}
#w_1 {
  font-size: 1.5rem;
}
#c_1 {
  font-size: 1.3rem;
}
#list {
  box-shadow: 0 0 2.2em rgba(25, 0, 58, 0.1);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #1f003b;
  transition: 0.3s;
  background-color: #ffffff;
}
#list:hover {
  background: linear-gradient(#eb7e7e, #8567f7);
  color: #ffffff;
}
