/*font import*/
/*나눔고딕*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Space+Mono:wght@400;700&display=swap");
/*동글*/
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Nanum+Gothic+Coding:wght@400;700&family=Space+Mono:wght@400;700&display=swap");

/* Reset */
body,
div {
  margin: unset;
  padding: unset;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: unset;
  font-weight: unset;
}

/* Typography */
:root {
  /* 멤버 카드에 사용하는 컬러 변수*/
  --member-card-bg-color: #fbc531;
  --member-card-font-color: black;
  --member-area-font-color: #ffffff;
  /* 각 타이트별 font color*/
  --title-font-color: black;
  --main-bg-color: #db0606;
}

html {
  font-size: 62.5%;
}

a {
  color: unset;
}

/* Contents */
body {
  display: flex;
  width: 100vw;
  height: auto;
  padding: 2rem 2rem 5rem;
  box-sizing: border-box;
  font-family: "Nanum Gothic Coding", cursive;
}

.wrapper {
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

.main-header h1 {
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
  color: var(--title-font-color);
}

.main-header .main-team-text {
  position: absolute;
  background-image: url("../images/main/B-02.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  width: 13%;
  height: 10%;
  margin: 4rem 0 0 85rem;
}

.main-header .main-text {
  position: relative;
  background-image: url("../images/main/mainText.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 8rem 0 0 8rem;
  width: 300%;
  height: 45%;
}

.main-header .main-text-02 {
  position: relative;
  background-image: url("../images/main/maingText_02.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 5rem 0 0 40rem;
  width: 55%;
  height: 50%;
  z-index: 2;
}

.main-header .main-img {
  position: absolute;
  background-image: url("../images/main/Design.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: -45rem 0 0 20rem;
  width: 40%;
  height: 45%;
  z-index: 1;
}

/*슬라이더 섹션 css*/
.swiper {
  width: 110rem;
  height: 40rem;
}

.swiper-slide {
  box-shadow: inset 0 0 20px purple;
  box-sizing: border-box;
}

/* 멤버 카드 섹션 css*/
.member-section {
  margin: 10rem auto 0;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
}

.member-section .member-section__cards {
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.member-section .member-section__cards h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  width: 100%;
  color: var(--title-font-color);
}

.member-section .member-section__cards > div {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto 0;
  justify-content: center;
  gap: 2rem;
}

.member-section .member-section__cards .member-section__card {
  width: 22rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--member-card-bg-color);
  border-radius: 0.5rem;
  overflow: hidden;
}

.member-section .member-section__cards .member-section__card .member-section__card-img {
  border-radius: 0.5rem;
  width: 100%;
  height: 20rem;
  transition: scale 0.2s ease-in;
  background-repeat: no-repeat;
}

/* 권경열 멤버카드 사진 */
.member-section .member-section__cards .member-section__card:nth-child(1) .member-section__card-img {
  background-image: url("../images/yeol/IMG_6772.jpg");
  background-size: 36rem;
  background-position: -6rem -5rem;
}
.member-section .member-section__cards .member-section__card:nth-child(2) .member-section__card-img {
  background-image: url("../images/choi/IMG_2.jpg");
  background-size: cover;
  background-position: 0 -6rem;
}
.member-section .member-section__cards .member-section__card:nth-child(3) .member-section__card-img {
  background-image: url("../images/jihyun_img/jihyun-photo.JPG");
  background-size: 30rem;
  background-position: -6rem 0;
}

/* 강지향 멤버카드 사진 */
.member-section .member-section__cards .member-section__card:nth-child(4) .member-section__card-img {
  background-image: url("../images/kang/1682240202623.jpg");
  background-size: 100rem;
  background-position: -31rem -61rem;
}
.member-section .member-section__cards .member-section__card:nth-child(5) .member-section__card-img {
  background-image: url("../images/chang/profile-img-main.jpg");
  background-size: 26rem;
  background-position: 0 -5rem;
}

.member-section .member-section__cards .member-section__card .member-section__card-img:hover {
  scale: 110%;
}

.member-section .member-section__cards .member-section__card .member-section__card__info {
  display: flex;
  flex-direction: column;
}

.member-section .member-section__cards .member-section__card .member-section__card__info > div {
  margin-top: 2rem;
  display: flex;
}

.member-section .member-section__cards .member-section__card .member-section__card__info > div > div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.member-section .member-section__cards .member-section__card .member-section__card__info > div > div:last-child {
  margin-left: 0.4rem;
}

.member-section .member-section__cards .member-section__card .member-section__card__info > div > div svg {
  width: 3.5rem;
  height: 3.2rem;
  transition: scale 0.2s ease-in;
  vertical-align: middle;
}

.member-section .member-section__cards .member-section__card .member-section__card__info > div > div svg:hover {
  scale: 200%;
}

.member-section .member-section__cards .member-section__card .member-section__card__info > div > div > span {
  color: var(--member-card-font-color);
  font-family: "Dongle", sans-serif;
  font-size: 3.5rem;
}

/* 좋아요 섹션 css*/

.member-section__likes {
  margin-top: 5rem;
}

.member-section__likes .member-section__like-area .member-section__like-area__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-section__likes .member-section__like-area .member-section__like-area-image {
  width: 30rem;
}

.member-section__likes .member-section__like-area .member-section__like-area-title {
  font-size: 3.5rem;
  padding-left: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--member-area-font-color);
}

.member > canvas {
  width: 40rem !important;
  height: 20rem !important;
}

.member-section__like-chart h1 {
  font-size: 4rem;
  font-weight: bold;
  color: var(--title-font-color);
}
