/*font import*/
/*나눔고딕*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Space+Mono:wght@400;700&display=swap");
/*동글*/
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Nanum+Gothic+Coding:wght@400;700&family=Space+Mono:wght@400;700&display=swap");
/*intel*/
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Inter:wght@400;700&family=Nanum+Gothic+Coding:wght@400;700&family=Space+Mono:wght@400;700&display=swap");

/* Reset */
body,
div {
  margin: unset;
  padding: unset;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: unset;
  font-weight: unset;
}

/* Typography */
:root {
  /*font*/
  --nanum-gothic-coding: "Nanum Gothic Coding", cursive;
  --intel: "Inter", sans-serif;

  /* 멤버 카드에 사용하는 컬러 변수*/
  --member-card-bg-color: #fff;
  --member-card-font-color: black;
  --member-area-font-color: #ffffff;
  --member-card-sub-title-color: rgba(255, 255, 255, 0.64);

  /* 각 타이트별 font color*/
  --title-font-color: black;
  --main-bg-color: #db0606;
  --swiper-theme-color: #fbc531;

  /*slider bg color*/
  --slider-bg-color: #151717;

  /*border radius*/
  --main-border-radius: 1.2rem;
}

html {
  font-size: 62.5%;
}

a {
  color: unset;
}

/* Contents */
body {
  display: flex;
  width: 100vw;
  height: auto;
  padding: 2rem 2rem 5rem;
  box-sizing: border-box;
  font-family: "Nanum Gothic Coding", cursive;
}

.wrapper {
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  position: relative;
  padding-bottom: 5rem;
  border-radius: var(--main-border-radius);
}

.main-header .main-header__temp {
  height: 50rem;
  position: relative;
}

.main-header h1 {
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
  color: var(--title-font-color);
}

.main-header .main-team-text {
  position: absolute;
  background-image: url("../images/main/B-02.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  width: 11%;
  height: 10%;
  top: -5.5rem;
  right: 2.7rem;
}

.main-header .main-text {
  position: relative;
  background-image: url("../images/main/mainText.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 8rem 0 0 8rem;
  height: 45%;
}

.main-header .main-text-02 {
  position: relative;
  background-image: url("../images/main/maingText_02.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10rem 0 0 65rem;
  width: 55%;
  height: 50%;
  z-index: 2;
}

.main-header .main-img {
  position: absolute;
  background-image: url("../images/main/Design.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 40%;
  height: 60%;
  top: 16rem;
  left: 29%;
  z-index: 1;
}

.main-header__temp .fade-in {
  opacity: 0;
}

/*슬라이더 섹션 css*/
.swiper {
  margin-top: 8rem;
  width: 97%;
  height: 40rem;
  border-radius: var(--main-border-radius);
  overflow: hidden;
}

.swiper-slide {
  box-sizing: border-box;
  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--slider-bg-color);
  color: var(--member-area-font-color);
}

.slide1-h1,
.slide2-h1 {
  color: var(--member-area-font-color) !important;
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
}

.slide1-p,
.slide2-p {
  font-size: 3rem;
  line-height: 5rem;
  font-weight: bold;
}

/* 멤버 카드 섹션 css*/
.member-section {
  margin: 10rem auto 0;
  max-width: 100rem;
  display: flex;
  flex-direction: column;
}

.member-section .member-section__cards > div:first-child {
  position: relative;
  height: 75rem;
}

.member-section .member-section__cards > div:first-child > div {
  position: absolute;
  top: 0;
  left: 7.2rem;
}

.member-section .member-section__cards > div:first-child > div > h2 {
  font-size: 8rem;
  font-weight: bold;
  color: var(--member-card-sub-title-color);
  text-align: center;
  font-family: var(--intel);
  margin: 0;
}

.member-section .member-section__cards > div:first-child > div > h1 {
  font-size: 14.5rem;
  font-weight: bold;
  color: var(--member-area-font-color);
  text-align: center;
  font-family: var(--nanum-gothic-coding);
  margin-top: -1.5rem;
}

.member-section .member-section__cards > div:first-child > div span {
  display: block;
  color: var(--member-area-font-color);
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.member-section .member-section__cards > div:first-child > div span strong {
  color: var(--member-card-font-color);
}

.member-section .member-section__cards > div:first-child > div span:last-child {
  margin-top: 5rem;
  font-size: 6rem;
}

.member-section .member-section__cards > div:first-child * {
  z-index: 1;
}

.member-section .member-section__cards > div:first-child > div .loop-image {
  width: 30rem;
  height: 17rem;
  position: absolute;
  top: 6.8rem;
}

.member-section .member-section__cards > div:first-child > .spiral-image {
  width: 10rem;
  height: 10rem;
  bottom: 19rem;
  left: 36rem;
  position: absolute;
  z-index: 0;
}

.member-section .member-section__cards > div:first-child > .searching-image {
  width: 32rem;
  height: 30rem;
  bottom: 0;
  right: -5rem;
  position: absolute;
  z-index: 0;
}

.member-section .member-section__cards {
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.member-section .member-section__cards > div:last-child {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto 0;
  justify-content: center;
  gap: 2rem;
}

.member-section .member-section__cards .member-section__card {
  width: 22rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.member-section .member-section__cards .member-section__card > span {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--member-area-font-color);
}

.member-section .member-section__cards .member-section__card > div {
  background-color: var(--member-card-bg-color);
  padding: 1rem;
  box-shadow: -3px 5px 3px 2px black;
  border-radius: var(--main-border-radius);
}

.member-section .member-section__cards .member-section__card .member-section__card-img {
  width: 100%;
  height: 20rem;
  transition: scale 0.2s ease-in;
  background-repeat: no-repeat;
  border-radius: var(--main-border-radius);
}

/* 권경열 멤버카드 사진 */
.member-section .member-section__cards .member-section__card:nth-child(1) .member-section__card-img {
  background-image: url("../images/yeol/IMG_6772.jpg");
  background-size: 36rem;
  background-position: -6rem -5rem;
}

.member-section .member-section__cards .member-section__card:nth-child(2) .member-section__card-img {
  background-image: url("../images/choi/IMG_2.jpg");
  background-size: cover;
  background-position: 0 -6rem;
}

.member-section .member-section__cards .member-section__card:nth-child(3) .member-section__card-img {
  background-image: url("../images/jihyun_img/jihyun-photo.JPG");
  background-size: 30rem;
  background-position: -6rem 0;
}

/* 강지향 멤버카드 사진 */
.member-section .member-section__cards .member-section__card:nth-child(4) .member-section__card-img {
  background-image: url("../images/kang/1682240202623.jpg");
  background-size: 100rem;
  background-position: -31rem -61rem;
}

.member-section .member-section__cards .member-section__card:nth-child(5) .member-section__card-img {
  background-image: url("../images/chang/profile-img-main.jpg");
  background-size: 26rem;
  background-position: 0 -5rem;
}

.member-section .member-section__cards .member-section__card .member-section__card-img:hover {
  scale: 110%;
}

.member-section .member-section__cards .member-section__card .member-section__card__info {
  display: flex;
  flex-direction: column;
}

.member-section .member-section__cards .member-section__card .member-section__card__info > div {
  margin-top: 2rem;
  display: flex;
}

.member-section .member-section__cards .member-section__card .member-section__card__info > div > div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.member-section .member-section__cards .member-section__card .member-section__card__info > div > div:last-child {
  margin-left: 0.4rem;
}

.member-section .member-section__cards .member-section__card .member-section__card__info > div > div svg {
  width: 3.5rem;
  height: 3.2rem;
  transition: scale 0.2s ease-in;
  vertical-align: middle;
}

.member-section .member-section__cards .member-section__card .member-section__card__info > div > div svg:hover {
  scale: 200%;
}

.member-section .member-section__cards .member-section__card .member-section__card__info > div > div > span {
  color: var(--member-card-font-color);
  font-family: "Dongle", sans-serif;
  font-size: 3.5rem;
}

/* 좋아요 섹션 css*/

.member-section__likes {
  margin-top: 5rem;
}

.member-section__like-cardarea {
  display: flex;
}

.member-section__like-card {
  cursor: pointer;
  box-shadow: 3px 5px 3px 3px black;
  margin: 0.5rem;
  margin-right: 3.3rem;
  padding-top: 0.5rem;
  border-radius: 0.5rem;
}

#member-section__like-btn1 {
  background-image: url("../images/yeol/IMG_6772.jpg");
  background-size: 35rem;
  background-position: -11rem -6rem;
}

#member-section__like-btn2 {
  background-image: url("../images/choi/IMG_2.jpg");
  background-size: 12rem;
  background-position: -12rem 0rem;
}

#member-section__like-btn3 {
  background-image: url("../images/kang/1682240202623.jpg");
  background-size: 20rem;
  background-position: -2rem -9rem;
}

#member-section__like-btn4 {
  background-image: url("../images/jihyun_img/jihyun-photo.JPG");
  background-size: 24rem;
  background-position: -7rem -18rem;
}

#member-section__like-btn5 {
  background-image: url("../images/chang/profile-img-main.jpg");
  background-size: 16rem;
  background-position: -1rem -1rem;
}

.member-section__like-card:active {
  transform: translate(4px, 4px);
  box-shadow: 1px 1px 1px 1px black;
}

.member-section__like-btn2:active {
  transform: translate(4px, 4px);
  box-shadow: 1px 1px 1px 1px black;
}

.member-section__likes .member-section__like-area .member-section__like-area__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-section__likes .member-section__like-area .member-section__like-area-image {
  width: 30rem;
}

.member-section__likes .member-section__like-area .member-section__like-area-title {
  font-size: 3.5rem;
  padding-left: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--member-area-font-color);
}

.member > canvas {
  width: 40rem !important;
  height: 20rem !important;
}

.member-section__like-chart h1 {
  font-size: 4rem;
  font-weight: bold;
  color: var(--title-font-color);
}

.member-section__like-chart #myChart {
  background-color: #151717;
  padding: 2rem;
  border-radius: 1rem;
}
